h2{
  font-size: 3.8rem;
  line-height:1.5;
  font-weight: 700;
}

h3{
  font-weight:500;
  font-size: 3.8rem;
  line-height:1.5;
  margin: 0 0 4% 0;
}

h4{
  font-weight:500;
  font-size: 1.8rem;
  line-height:1.8;
  margin: 4% 0;
}

body{
    font-family: "Montserrat";
}

#navbarToggler01{
  margin-left:0.5%;
}

#navbar{
  margin-bottom: 5rem;
}

/* navigation bar */
.navbar{
  padding-bottom: 1rem;
}
.navbar-brand{
  font-variant: small-caps;
  font-size: 2.5rem;
}
.nav-item{
    font-size: 1.5rem;
    padding: 0 2rem 0 0 ;
    text-align: left;
}
.menu_icon{
  position: relative;
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 100%;
  width:70px;
  height:70px;
}

.Download-main{
    background-image: url("../images/Main_img.jpeg");
}

#navbar{
  text-align: center;
  margin: 0 auto;
}

.Download-main-text{
  margin: 5% 12%;
  padding-bottom: 10rem;
}

/* homepage container */
.container-fluid{
  padding: 0% 15%;
}


.download-headline{
  text-align: center;
  color: white;
  padding: 5% 0;
}

.download-btn{
  margin: 10% 3% 5% 0%;
}



/* download image */
.download-img{
  width: 40%;
}

.City-Info{
  position:absolute;
  border-radius: 30px;
  background-color: #feeeec;
  opacity: 0.95;
  padding: 4%;
  width: 30%;
  text-align: center;
  bottom: -110%;
  left: 65%;
}

.dots{
  margin:1% auto 20% auto;
  border: none;
  border-top: 5px dotted #ff92a5;
  border-width: 10px;
  width: 40%;
  background: none;
}
.bar{
  margin: 0 auto 5% auto;
  border: none;
  border-top: 5px solid  #ff92a5;
  border-width: 5px;
  width: 60%;
  background: none;

}

.loc-icon{
  margin-right: 4%;
}

.end-bar{
  margin-top: 5%;
  background-color: #e81c74;
  color: white;
  padding: 1%;
}

@media (max-width:1400px){
  .navbar-brand{
    font-variant: small-caps;
    font-size: 4rem;
  }

  .nav-item{
      font-size: 3rem;
      padding: 0 2rem 0 0 ;
      text-align: left;
  }

  .City-Info{
    position: static;
    margin: auto;
    border-radius: 30px;
    background-color: #feeeec;
    opacity: 0.95;
    padding: 4%;
    width: 60%;
    text-align: center;
    bottom: -110%;
    left: 65%;
  }


}
