/*Used for general headings in the website*/
h2{
  font-size: 3rem;
  line-height:1.5;
  font-weight: 800;
}

/* used for smaller sub-headings below h2 */

h3{
  font-weight:500;
  font-size: 2.5rem;
  line-height:1.5;
}

/* plain text in the website below h3 */
h4{
  font-weight:300;
  font-size: 1.5rem;
  line-height:1.4;
}


/* all the fonts in our website is montserrat font */
body{
    font-family: "Montserrat";
}


/* headings */
.Main-Welcome-heading{
  font-size: 4rem;
  line-height: 1.5;
  margin-top: 12%;
}


/* navigation bar */
.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-variant: small-caps;
  font-size: 4em;
}
.nav-item{
    font-size: 1.5rem;
    padding: 0 2rem 0 0 ;
    text-align: left;
}
.menu_icon{
  position: relative;
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 100%;
  width:70px;
  height:70px;
}


/* homepage container */
.container-fluid{
  padding: 3% 15%;
}


/*features*/
.feature-containers{
    text-align: center;
}



/* buttons */
.download-btn{
  margin: 10% 3% 5% 0%;
}
.custom-signin{
  margin: 7% 3% 5% 0%;
  width: 500px;
  font-size: 30px;
  font-weight: 600;
}




/* images */
.feature-img{
  margin-top:15%;
  margin-bottom: 15%;
  color:#ff92a5;
}

.feature-img:hover{
  color: #fb4570;
}

.testemonial-image{
  border-radius: 100%;
  margin:5%;
  width:80%;
}



/* testimonials */
.testimonial-name{
  font-size: 2rem;
  margin: auto 0 auto 0;
  text-align: left;
  line-height: 0.2;
}
.testimonial-content{
  font-weight: 600;
  font-size: 3.5rem;
  line-height:1.5;
}
.carousel-item{
    padding: 7% 10%;
}
.press-logo{
  width:50%;
  margin:20px 20px 50px;
}
    /*container box*/
.testimonial-name-box{
  font-size: 2rem;
  text-align: center;
  padding: 2% 35%;
}




/* pricing */

.pricing-columns{
  text-align: center;
  margin: 5% 0;
  color:black;
}



/* product_demo */
.Product-demo-line{
  font-size: 2rem;
  margin: auto 0 auto 0;
  line-height: 0.2;
}

.Product-demo-gif{
  border-radius: 20px;
  border:30px;
}




/* general PADDINGS */
.padding-right{
  padding: 0 10px 0 0;
}
.padding-left{
  padding: 0 0 0 10px;
}
.padding-top{
  padding: 10px 0 0 0;
}
.padding-bottom{
  padding: 0 0 10px 0;
}

/*general margins*/
.marign-right{
  margin: 0 1% 0 0 ;
}
.margin-left{
  margin: 0 0 0 1%;
}
.margin-top{
  margin: 1% 0 0 0;
}
.margin-bottom{
  margin-bottom:200px;
}

/*fonts*/
.montserrat-black{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.montserrat-bold{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.montserrat-medium{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.ubuntu-font{
    font-family: 'Ubuntu', sans-serif;
}



#navbarToggler01{
  margin-left:0.5%;
}

#title{
  background-image: url("../images/Main_img.jpeg");
}

#features{
  padding:7% 5%;
}

#testimonials{
  background-color: #fb4570;
  text-align: center;
  color:#fff;
}

#press{
  background-color: #fb4570;
  text-align: center;
  padding: 0 0 5% 0;
}

#product-demo{
    text-align: center;
    margin: 2% 0 2% 0;
    padding: 6%;
}

#pricing{
  background-color: #fb4570;
  padding: 7% 15%;
  color:#fff;
}

#cta{
  text-align: center;
  margin: 10%;
}


@media (max-width: 1000px) {
  .container-fluid{
    padding: 3% 5%;
    text-align: center;
  }

  .download-btn{
    margin: 10% 3% 5% 0%;
    width:40%;
    height:15%;
  }
  .press-logo{
    width:80%;
    margin:20px 20px 50px;
  }
  #pricing{
    background-color: #fb4570;
    padding: 7% 5%;
    color:#fff;
  }

}
